PORT=8001
CORS_ORIGINS=http://localhost:3000
MONGO_URI=mongodb://mongo:27017/resilientresponse
MONGODB_DB=resilientresponse
SERVICE_NAME=orchestrator
SERVICE_INSTANCE_ID=orchestrator-primary
SERVICE_VERSION=0.7.0
SERVICE_ROLE=PRIMARY
SERVICE_BASE_URL=http://orchestrator:8001
SERVICE_REGISTRY_URL=http://service-registry:8008
ALERT_SERVICE_URL=http://alert-service:8002
CLASSIFICATION_SERVICE_URL=http://classification-service:8003
HOSPITAL_SERVICE_URL=http://hospital-primary:8004
RESOURCE_SERVICE_URL=http://resource-primary:8005
ROUTE_SERVICE_URL=http://route-service:8006
NOTIFICATION_SERVICE_URL=http://notification-service:8007
