PORT=8005
CORS_ORIGINS=http://localhost:3000
MONGO_URI=mongodb://mongo:27017/resilientresponse
MONGODB_DB=resilientresponse
SERVICE_NAME=resource-service
SERVICE_INSTANCE_ID=resource-primary
SERVICE_VERSION=0.6.0
SERVICE_ROLE=PRIMARY
SERVICE_BASE_URL=http://resource-primary:8005
SERVICE_REGISTRY_URL=http://service-registry:8008
